<p>seat-creat works!</p>
<div class="col-md-12">
  <h3>Form create(update) Seat</h3>
  <form class="col-md-12" [noValidate]="true" [formGroup]="form" (ngSubmit)="doSubmit()">
    <div class="form-group" >
      <label  for="ID_Seat">ID_Seat:</label>
      <input class="form-control" id="ID_Seat" formControlName="ID_Seat"/>
    </div>
    <!--    <div class="form-group" >-->
    <!--      <label  for="name">Created_AT:</label>-->
    <!--      <input class="form-control" id="name" formControlName="name"/>-->
    <!--    </div>-->
    <div class="form-group" >
      <label  for="Created_AT">Created_AT:</label>
      <input class="form-control" id="Created_AT" formControlName="Created_AT"/>
    </div>
    <div class="form-group">
      <label   for="Update_AT">Update_AT:</label>
      <input class="form-control" id="Update_AT" formControlName="Update_AT"/>
    </div>
    <div class="form-group">
      <label   for="Loai_Seat">Loai_Seat:</label>
      <input class="form-control" id="Loai_Seat" formControlName="Loai_Seat"/>
    </div>
    <div class="form-group">
      <label   for="Ma_Phong">Ma_Phong:</label>
      <input class="form-control" id="Ma_Phong" formControlName="Ma_Phong"/>
    </div>

    <div class="form-group">
      <label   for="Trang_thai">Trang_thai:</label>
      <input class="form-control" id="Trang_thai" formControlName="Trang_thai"/>
    </div>

    <!--    <div class="form-group">-->
    <!--      <label  for="desc">Loai_Seat:</label>-->
    <!--      <textarea class="form-control" id="desc" formControlName="desc" rows="3"></textarea>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--      <label  for="desc">Ma Phong:</label>-->
    <!--      <textarea class="form-control" id="desc" formControlName="desc" rows="3"></textarea>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--      <label  for="desc">Trang thai:</label>-->
    <!--      <textarea class="form-control" id="desc" formControlName="desc" rows="3"></textarea>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <button class="btn btn-outline-primary btn-sm" type="submit" *ngIf="!isUpdate">Save</button>-->
    <!--      <button class="btn btn-outline-primary btn-sm" type="submit" *ngIf="isUpdate">Update</button>-->
    <!--      <button class="btn btn-sm" [routerLink]="['/product']">Cancel</button>-->
    <!--    </div>-->
  </form>
</div>
