<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="sample-wrapper">
        <button class="btn" igxButton="raised" [igxToggleAction]="dropdown" [igxDropDownItemNavigation]="dropdown" >
          {{options}}</button>
        <igx-drop-down #dropdown>
          <igx-drop-down-item *ngFor="let cinema of cinemas" (click)="onSelect(cinema)">
            {{ cinema.tenrap }}
          </igx-drop-down-item>
        </igx-drop-down>
      </div>
    </div>
  </div>
</div>
<app-movie-list [movies]="movies" [ciid]="ciid"></app-movie-list>
