<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Delete product</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Do you want delete this movie
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="delete()">OK</button>
</div>
