<div class="header p-0">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <!--        <img src="https://f1.pngfuel.com/png/365/513/290/movie-logo-photographic-film-movie-camera-cinema-movie-projector-video-cameras-cinema-camera-circle-png-clip-art-thumbnail.png" alt="logo" style="width:40px;">-->
      <span class="logo-t1"><i class="fa fa-camera-retro" aria-hidden="true"></i>&nbsp;Cinema<span class="logo-t2">Hub</span></span>
    </a>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{cinemas[0].tenrap}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let cinema of cinemas" class="dropdown-item" href="showtimes">{{cinema.tenrap}}</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cinema">Phim Đang Chiếu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dịch Vụ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hỗ Trợ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="login"><i class="fa fa-user-circle-o" aria-hidden="true"></i> THÀNH VIÊN</a>
    </form>
  </nav>
</div>
<router-outlet></router-outlet>
