<div class="container-fluid">
  <div class="header p-0">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
        <img src="https://f1.pngfuel.com/png/365/513/290/movie-logo-photographic-film-movie-camera-cinema-movie-projector-video-cameras-cinema-camera-circle-png-clip-art-thumbnail.png" alt="logo" style="width:40px;">
      </a>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Rạp Chiếu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phim Đang Chiếu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dịch Vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hỗ Trợ</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-success mr-sm-2" type="button">Đăng Nhập</button>
        <button class="btn btn-danger my-2 my-sm-0" type="button">Đăng Kí</button>
      </form>
    </nav>
  </div>


    <div class="container-fluid">
      <h3>Trung Tâm Chiếu Phim CinemaHub</h3>
      <p>Trên đỉnh Trường Sơn ta hát bài ca, tiếng hát cùng ta, vượt qua gian khổ.</p>
      <p>Trên đỉnh Trường Sơn ta hát bài ca, tiếng hát cùng ta, vượt qua gian khổ.</p>
    </div>
  </div>

