img {
  max-width: 200px;
  height: 280px;
}

.movie:hover {
  cursor: pointer;
}

.seatname {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
}

.seatnamebuy {
  cursor: no-drop;
  position: absolute;
  top: 40%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
}

.seat li img {
  width: 40px;
  height: auto;
}

.info {
  width: 40px;
  height: auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.moviename {
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.seat li.selected {
  background-color: #CFD8DC;
  color: white;
}
.seat li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.btn-showtime {
  display: inline;
  margin-bottom: 20px;
}

.titleshowtime {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

.spseat {
  cursor: pointer;
}

.active {
  background-color: #bfb0b0;
}
