<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Ticket #{{id}}</h3>
        Tên Rạp: {{order.tenrap}}<br>
          Phòng Chiếu: Phòng {{order.phongchieu}}<br>
          Tổng số vé: {{order.sove}} vé<br>
          Tổng tiền: {{order.tongtien|currency:"VND":""}}	 vnđ<br>
          Ngày tạo: {{ order.createdAt | date }}<br>
        </div>
        <table class="table" style="width:100%">
          <tr>
            <th>Ticket ID</th>
            <th>Ten Phim</th>
            <th>ID ghe</th>
            <th>Gia ve</th>
            <th>Thoi gian</th>
          </tr>
          <tr *ngFor="let tck of tickets">
            <td>{{tck.id}}</td>
            <td>{{tck.tenphim}}</td>
            <td>{{tck.idGhe}}</td>
            <td>{{tck.giave}}</td>
            <td>{{ tck.timeStart | date:'shortTime' }} - {{ tck.timeEnd | date:'shortTime' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
