<div *ngIf="ticket != null" class="card shadow">
  <div class="card-header border-0">
    <div class="row">
      <div style=" margin-left: 30px;" class="ticket">
        <span class="tk s">THÔNG TIN VÉ</span>
        <span style="color: red">{{error}}</span>
        <h1>he{{ticket.lichchieu}}</h1>
        <span class="s">Tên phim: <span>{{ticket.tenphim}}</span></span>
        <span class="s">Giá vé: <span>{{ticket.giave}} vnđ</span></span>
        <span class="s">Số ghế: <span>{{ticket.idGhe}}</span></span>
        <span class="s">Thời gian: <span>{{ ticket.timeStart | date:'shortTime' }} - {{ ticket.timeEnd | date:'shortTime' }}</span></span>
        <span class="s">Ngày chiếu: <span>{{ ticket.timeStart | date }}</span></span>
        <a style="line-height: 10px; width: 200px;" *ngIf="success == null" class="btn btn-success" (click)="compTicket(ticket)">Hoàn Tất</a>
        <span *ngIf="success != null" style="color: green;">{{success}}<a href="ticket">#{{ticketsuccess.marap}}{{ticketsuccess.idGhe}}{{ticketsuccess.id}}</a></span>
      </div>
    </div>
  </div>
</div>
