.logo-t1 {
  font-weight: bold;
  font-size: 25px;
  color: #673ab7;
  font-family: "Comic Sans MS", cursive, sans-serif;
  //font-family: "Allerta Stencil", Sans-serif;
}

.form-inline a {
  color: #fff;
  font-weight: bold;
}

.bg-dark {
  background-color: #117a8b !important;
}

.logo-t2 {
  //background-color: rgb(128, 255, 255);
  border-radius: 3px;
  padding: 3px;

}
